html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 500s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .9s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label,
.login-box.loaded .user-box input~label {
        top: -20px;
        left: 0;
        color: #03e9f4;
        font-size: 12px;
    }

.login-box form .submit_section input{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #03e9f4;
    background: transparent;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .2s;
    margin-top: 40px;
    letter-spacing: 4px;
        box-shadow: 0 0 3px #03e9f4,
                0 0 10px #03e9f4;
}

.login-box .submit_section input:hover {
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 5px #03e9f4,
            0 0 20px #03e9f4;
}

.login-box .submit_section input:active {
    background: #02d3de;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 7px #03e9f4,
        0 0 40px #03e9f4,
}

.login-box .user-box span {
    position: relative;
    bottom: 30px;
    left: 0;
    font-size: 12px;
}
